@model IEnumerable<DiemCong_PhamBachMinhTri.Models.HocPhan>

@{
    ViewBag.Title = "HocPhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HocPhan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        @Html.DisplayNameFor(model => model.MaHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTinChi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaHP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenHP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoTinChi)
    </td>
    <td>
        <input type="submit" color="green"  value="Dang ki" class="btn btn-default"/>
    </td>
</tr>
}

</table>
